doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/shared.css")
        link(rel="stylesheet" href="./css/header-&-footer.css")
        link(rel="stylesheet" href="./css/exchange-and-return.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap" rel="stylesheet")

        title YANKI-exchange-and-return
    body 
        header 
            .header__container.container
                .box
                    button.menu 
                        img(src="./img/header/menu-catalog.svg" alt="menu")
                    .text
                        a(href="#") NEW
                        a(href="#") КАТАЛОГ
                        a(href="#") О НАС
                    .language.lng-2 
                        button.ru RU
                    .logo
                        a(href="#") 
                            img(src="./img/header/logo-catalog.svg" alt="logo")
                    .language.lng-1 
                        button.ru RU
                        button.uah UAH
                    .icons
                        a.close(href="#")  
                            img(src="./img/header/search-catalog.svg" alt="search")  
                        a.close(href="#") 
                            img(src="./img/header/profile-catalog.svg" alt="profile")  
                        a(href="#") 
                            img(src="./img/header/like-catalog.svg" alt="like")  
                        a(href="#") 
                            img(src="./img/header/basket-catalog.svg" alt="basket") 
        section.links 
            .links__container.container
                a(href="./index.html")
                    p Главная
                img(src="./img/catalog/right.svg" alt="right")
                p Обмен и воврат
        section.exchange 
            .exchange__container.container 
                h2.title Обмен и возврат
                h3.subtitle Если вам не подошел заказ, мы с удовольствием вам его обменяем или примем возврат
                h3.text Обмен и возврат возможен в случае :
                .conditions 
                    .item 
                        .icon 
                            img(src="./img/exchange/icon-1.svg" alt="conditions-icon")
                        h4 если заказ не был использован и сохранил товарный вид(в том числе не нарушены бирки, ярлыки, упаковочные материалы)
                    .item 
                        .icon 
                            img(src="./img/exchange/icon-2.svg" alt="conditions-icon")
                        h4 возврат и обмен осуществляется в течение двух дней с момента получения заказа
                    .item 
                        .icon 
                            img(src="./img/exchange/icon-3.svg" alt="conditions-icon")
                        h4 возврат и обмен товара возможен только при отправке по Украине
                    .item 
                        .icon 
                            img(src="./img/exchange/icon-4.svg" alt="conditions-icon")
                        h4 бланк возврата присутствует в каждой посылке
                    .item 
                        .icon 
                            img(src="./img/exchange/icon-5.svg" alt="conditions-icon")
                        h4 все расходы по обмену и возврату товара несет покупатель
                    .item 
                        .icon 
                            img(src="./img/exchange/icon-6.svg" alt="conditions-icon")
                        h4 после получения возврата мы делаем перевод денежных средств на карту клиента
        footer  
            .footer__container.container 
                .item 
                    h4 КОМПАНИЯ
                    .link__box 
                        a(href="#") О нас
                        a(href="#") Контакты
                .item 
                    h4 ПОЛЕЗНОЕ
                    .link__box 
                        a(href="#") Оплата и доставка
                        a(href="#") Условия возврата
                        a(href="#") Бонусная система
                .item 
                    h4 ПОКУПАТЕЛЮ
                    .link__box 
                        a(href="#") Избранное
                        a(href="#") Публичная оферта
                        a(href="#") Политика конфиденциальности
                .item 
                    h4 КОНТАКТЫ
                    .link__box
                        .social 
                            a(href="#")
                                img(src="./img/footer/instagram.svg" alt="social") 
                            a(href="#") 
                                img(src="./img/footer/twitter.svg" alt="social") 
                        a(href="#") +38(073) 096 36 44
                        a(href="#") info@yanki.com
        section.basement 
            h5 ©️ 2021 Yanki. All rights reserved