doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/shared.css")
        link(rel="stylesheet", href="./css/index.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap" rel="stylesheet")
        title YANKI
    body 
        header 
            .header__container.container
                .box
                    button.menu 
                        img(src="./img/header/menu.svg", alt="menu")
                    .text
                        a(href="#") NEW
                        a(href="./catalog.html") КАТАЛОГ
                        a(href="#") О НАС
                    .logo
                        a(href="#") 
                            img(src="./img/header/logo.svg", alt="logo")
                    .language 
                        button.ru RU
                        button.uah UAH
                    .icons
                        a(href="#")  
                            img(src="./img/header/search.svg", alt="search")  
                        a(href="#") 
                            img(src="./img/header/profile.svg", alt="profile")  
                        a(href="#") 
                            img(src="./img/header/like.svg", alt="like")  
                        a(href="#") 
                            img(src="./img/header/basket.svg", alt="basket") 
        main
            .main__box 
                .content
                    h1.title Новая коллекция
                    .border
                    a.subtitle(href="#") Смотреть Новинки
        section.categories
            .categories__container.container 
                h2.title Категории
                .photo__box 
                    a.box__item.item-1(href="#")  
                        h3.name Куртки
                    a.box__item.item-2(href="#") 
                        h3.name Пальто
                    a.box__item.item-3(href="#")  
                        h3.name Шубы
                    a.box__item.item-4(href="#")  
                        h3.name Парки
        section.subscription
            .subscription__container 
                h3 Узнайте  первым о новинках 
                form.email(action="#")
                    input(placeholder="Ваш e-mail*" type="text" name="e-mail") 
                    button ПОДПИСАТЬСЯ
                h4 Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих персональных данных и ознакомлен(а) с условиями конфиденциальности.
        footer  
            .footer__container.container 
                .item 
                    h4 КОМПАНИЯ
                    .link__box 
                        a(href="#") О нас
                        a(href="#") Контакты
                .item 
                    h4 ПОЛЕЗНОЕ
                    .link__box 
                        a(href="./payment-and-delivery.html") Оплата и доставка
                        a(href="./exchange-and-return.html") Условия возврата
                        a(href="#") Бонусная система
                .item 
                    h4 ПОКУПАТЕЛЮ
                    .link__box 
                        a(href="#") Избранное
                        a(href="#") Публичная оферта
                        a(href="#") Политика конфиденциальности
                .item 
                    h4 КОНТАКТЫ
                    .link__box
                        .social 
                            a(href="#")
                                img(src="./img/footer/instagram.svg", alt="social") 
                            a(href="#") 
                                img(src="./img/footer/twitter.svg", alt="social") 
                        a(href="#") +38(073) 096 36 44
                        a(href="#") info@yanki.com
        section.basement 
            h5 ©️ 2021 Yanki. All rights reserved 



