doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/shared.css")
        link(rel="stylesheet", href="./css/header-&-footer.css")
        link(rel="stylesheet", href="./css/payment-and-delivery.css")

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;700&display=swap" rel="stylesheet")
        
        title YANKI-payment-and-delivery
    body 
        block header
            include ../components/catalog-header.pug
        section.links 
            .links__container.container
                a(href="./index.html")
                    p Главная
                img(src="./img/catalog/right.svg", alt="right")
                p Оплата и доставка
        section.payment 
            .payment__container.container 
                h2.title Оплата и доставка
                .box__payment-delivery 
                    .item-box.box-1 
                        p  Вы можете оплатить покупку одним из ниже перечисленных способов:
                        ul
                            li • наложенным платежом в отделении Новой Почты
                            li • денежным переводом  Visa/MasterCard
                            li • полная предоплата через Приват 24
                    .item-box.box-2 
                        p  Мы готовы предложить несколько вариантов доставки:
                        ul
                            li • отправка по всей Украине в отделение Новой Почты(1-2 дня)
                            li • международные сервисы доставки для жителей зарубежья: Укрпочта( 1-3 недели ,DHL(3-7 дней)
                            li • Срок доставки: 1–2 дня с момента  заказа  
                h3.process Процесс оформления заказа с помощью LIQPAY:
                .process__box 
                    .item__box.item-1 
                        .icon 
                            img(src="./img/payment-and-delivery/icon-1.svg", alt="icon")
                        h4 Выбрать в корзине способ оплаты "LIQPAY";
                    .item__box.item-2 
                        .icon 
                            img(src="./img/payment-and-delivery/icon-2.svg", alt="icon")
                        h4 Подтвердить заказ;
                    .item__box.item-3 
                        .icon 
                            img(src="./img/payment-and-delivery/icon-3.svg", alt="icon")
                        h4 После этого Вас перенаправит на сайт LIQPAY, где вы выбираете удобный для вас способ оплаты: через Приват24, или с помощью карты Mastercard/VISA со всего мира. 
