.card-product {
    .card-product__container {
        .card__content {
            display: flex;
            justify-content: space-between;
            margin-bottom: 100px;
            @media (max-width: 900px) {
                flex-direction: column;
                align-items: center;
            }
            .content  {

            }
            .content__image {
                display: flex;
                gap: 10px;
                width: 49%;
                @media (max-width: 900px) {
                    width: 100%;
                    flex-direction: column-reverse;
                    align-items: center;
                }
                .small__image {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    @media (max-width: 900px) {
                        flex-direction: unset;
                        width: 100%;
                        justify-content: center;
                    }
                    .img {
                        width: 100px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .image-1 {
    
                    }
                    .image-2 {
    
                    }
                    .image-3 {
    
                    }
                    .image-4 {
    
                    }
                    .image-5 {
                        
                    }
                }
                .big__image {
                    width: 450px;
                    height: 540px;
                    display: flex;
                    align-items: flex-start;
                    @media (max-width: 900px) {
                        width: 100%;
                        height: unset;
                    }
                    img {
                        width: 100%;
                        
                    }
                }
                
            }
            .content__text {
                width: 49%;
                @media (max-width: 900px) {
                    width: 100%;
                }
                .title {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 20px;
                    @media (max-width: 900px) {
                        text-align: center;
                    }
                }
                .price {
                    font-weight: 700;
                    line-height: 19px;
                    margin-bottom: 24px;
                    @media (max-width: 900px) {
                        text-align: center;
                    }
                }
                .color-box {
                    display: flex;
                    gap: 5px;
                    margin-bottom: 14px;
                    @media (max-width: 900px) {
                        justify-content: center;
                    }
                    .clr {
                        width: 21px;
                        height: 21px;
                        border-radius: 100%;
                    }
                    .clr:hover {
                        width: 24px;
                        height: 24px;
                        border-radius: 100%;
                    }
                    .white {
                        border: 1px solid;
                        background-color: #fff;
                    }
                    .blue {
                        background-color: #6F83A4;
                    }
                    .yellow {
                        background-color: #F1DDAA;
                    }
                }
                .name-color {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                    color: #E0BEA2;
                    margin-bottom: 20px;
                }
                .size {
                    width: 100%;
                    margin-bottom: 20px;
                    select {
                        width: 100%;
                        border: 0.5px solid #252525;
                        padding: 15px 19px;
                    }
                }
                .button__box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;
                    button {
                        width: 48%;
                        background: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 16px 0;
                    }
                    .basket {
                        font-weight: 300;
                        line-height: 19px;
                        color: #FFFFFF;
                        background: #E0BEA2;
                    }
                    .favorites {
                        display: flex;
                        gap: 10px;
                        border: 0.5px solid #252525;
                        p {
                            font-weight: 300;
                            line-height: 19px;
                        }
                    }
                }
                h4 {
                    font-weight: 300;
                    line-height: 19px;
                    margin-bottom: 20px;
                }
                .measurements__box {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 10px;
                    border-bottom: 0.5px solid #252525;
                    margin-bottom: 20px;
                }
                .compound {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    .title {
                        margin-bottom: 0px;
                        font-weight: 300;
                        line-height: 19px;
                    }
                }
                .text-1 {
                    margin-bottom: 20px;
                }
                .text-2 {
                    padding-bottom: 10px;
                    border-bottom: 0.5px solid #252525;
                }
                .txt {
                    p {
                        font-weight: 200;
                        font-size: 14px;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}
.image {
    .image__container {
        h3 {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 30px;
        }
        .images-item {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 70px;
            .item {
                width: 32%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon {
                    margin-bottom: 15px;
                    width: 100%;
                    position: relative;
                    .photo {
                        width: 100%;
                        height: 100%;
                    }
                    .like {
                        position: absolute;
                        right: 0;
                    }
                }
                .name {
                    margin-bottom: 5px;
                    font-weight: 300;
                    line-height: 19px;
                }
                .price {
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }
                .size {
                    margin-bottom: 5px;
                    font-weight: 300;
                    line-height: 19px;
                    color: rgba(37, 37, 37, 0.5);
                }
                .color-box {
                    display: flex;
                    gap: 5px;
                    .clr {
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                    }
                    .white {
                        border: 1px solid;
                        background-color: #fff;
                    }
                    .blue {
                        background-color: #6F83A4;
                    }
                    .yellow {
                        background-color: #F1DDAA;
                    }
                }
            }
        }
    }
}
.additional-image {
    .additional-image__container {
        h3 {
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 30px;
        }
        .images-item {
            display: flex;
            margin-bottom: 70px;
            gap: 15px;
            @media (max-width: 900px) {
                flex-wrap: wrap;
            }
            .item {
                width: 24%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (max-width: 900px) {
                    width: 49%;
                }
                @media (max-width: 800px) {
                    width: 48%;
                }
                .icon {
                    margin-bottom: 15px;
                    width: 100%;
                    position: relative;
                    .photo {
                        width: 100%;
                        height: 100%;
                    }
                    .like {
                        position: absolute;
                        right: 0;
                    }
                }
                .name {
                    margin-bottom: 5px;
                    font-weight: 300;
                    line-height: 19px;
                }
                .price {
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }
                .size {
                    margin-bottom: 5px;
                    font-weight: 300;
                    line-height: 19px;
                    color: rgba(37, 37, 37, 0.5);
                }
                .color-box {
                    display: flex;
                    gap: 5px;
                    .clr {
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                    }
                    .white {
                        border: 1px solid;
                        background-color: #fff;
                    }
                    .blue {
                        background-color: #6F83A4;
                    }
                    .yellow {
                        background-color: #F1DDAA;
                    }
                }
            }
        }
        .watched {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 70px;
            gap: 15px;
            .item {
                width: 24%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .icon {
                    margin-bottom: 15px;
                    width: 100%;
                    position: relative;
                    .photo {
                        width: 100%;
                        height: 100%;
                    }
                    .like {
                        position: absolute;
                        right: 0;
                    }
                }
                .name {
                    margin-bottom: 5px;
                    font-weight: 300;
                    line-height: 19px;
                }
                .price {
                    margin-bottom: 5px;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 19px;
                }
                .size {
                    margin-bottom: 5px;
                    font-weight: 300;
                    line-height: 19px;
                    color: rgba(37, 37, 37, 0.5);
                }
                .color-box {
                    display: flex;
                    gap: 5px;
                    .clr {
                        width: 14px;
                        height: 14px;
                        border-radius: 100%;
                    }
                    .white {
                        border: 1px solid;
                        background-color: #fff;
                    }
                    .blue {
                        background-color: #6F83A4;
                    }
                    .yellow {
                        background-color: #F1DDAA;
                    }
                }
            }
        }
    }
}
