
.catalog {
    margin-bottom: 70px;
    .catalog__container {
        display: flex;
        justify-content: space-between;
        .range-links {
            width: 18%;
            .title {
                font-weight: 300;
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 30px;
            }
            .block__link {
                display: flex;
                flex-direction: column;
                gap: 20px;
                a {
                    font-weight: 300;
                    line-height: 19px;
                    color: #252525;
                }
            }
        }
        .range-images {
            width: 82%;
            .options  {
                width: 100%;
                display: flex;
                gap: 34px;
                margin-bottom: 30px;
                button {
                    font-weight: 300;
                    line-height: 19px;
                    cursor: pointer;
                    background: none;
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    img {

                    }
                }
            }
            .images-item {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                
                .item {
                    width: 32%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 30px;
                    .icon {
                        margin-bottom: 15px;
                        width: 100%;
                        position: relative;
                        .photo {
                            width: 100%;
                            height: 100%;
                        }
                        .like {
                            position: absolute;
                            right: 0;
                        }
                    }
                    .name {
                        margin-bottom: 5px;
                        font-weight: 300;
                        line-height: 19px;
                    }
                    .price {
                        margin-bottom: 5px;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                    }
                    .size {
                        margin-bottom: 5px;
                        font-weight: 300;
                        line-height: 19px;
                        color: rgba(37, 37, 37, 0.5);
                    }
                    .color-box {
                        display: flex;
                        gap: 5px;
                        .clr {
                            width: 14px;
                            height: 14px;
                            border-radius: 100%;
                        }
                        .white {
                            border: 1px solid;
                            background-color: #fff;
                        }
                        .blue {
                            background-color: #6F83A4;
                        }
                        .yellow {
                            background-color: #F1DDAA;
                        }
                    }
                }
            }
        }
    }
}