header {
    position: absolute;
    width: 100%;
    .header__container {
        position: relative;
        .box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 24px;
            .menu {
                cursor: pointer;
                background: none;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                display: flex;
                align-items: center;
                gap: 26px;
                @media (max-width: 900px) {
                    gap: 15px;
                }
                @media (max-width: 800px) {
                    gap: 10px;
                }
                a {
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21px;
                    color: #fff;
                }
                @media (max-width: 700px) {
                    display: none;
                }
            }
            .logo {
                @media (max-width: 700px) {
                    margin-right: 75px;
                }
                @media (max-width: 600px) {
                    margin-right: 50px;
                }
                @media (max-width: 500px) {
                    margin-right: 25px;
                }
                @media (max-width: 400px) {
                    margin-right: 10px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .language {
                display: flex;
                align-items: center;
                gap: 24px;
                @media (max-width: 900px) {
                    gap: 15px;
                }
                @media (max-width: 800px) {
                    gap: 10px;
                }
                .ru {
                    background: none;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21px;
                    color: #fff;
                    @media (max-width: 700px) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
                .uah {
                    background: none;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 21px;
                    color: #fff;
                }
            }
            .lng-1 {
                @media (max-width: 700px) {
                    display: none;
                }
            }
            .lng-2 {
                display: none;
                @media (max-width: 700px) {
                    display: block;
                }
            }
            .icons {
                display: flex;
                align-items: center;
                gap: 30px;
                @media (max-width: 900px) {
                    gap: 20px;
                }
                @media (max-width: 800px) {
                    gap: 15px;
                }
            }
            .close {
                @media (max-width: 700px) {
                    display: none;
                }
            }
        }

    }
}
main {
    background-image: url(../img/main/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 700px) {
        background-image: url(../img/main/photo-1.jpg);
    }
    .main__box {
        display: flex;
        justify-content: center;
        height: 900px;
        margin: 0 auto;

        @media (min-width: 2000px) {
            height: 1200px;
        }
        .bg {
            width: 33.333%;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .bg-1 {
        }
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                font-weight: 300;
                font-size: 46px;
                line-height: 54px;
                color: #fff;
                margin-bottom: 20px;
                @media (max-width: 400px) {
                    font-weight: 300;
                    font-size: 32px;
                    line-height: 38px;
                }
            }
            .border {
                border-top: 1px solid #fff;
                width: 120px;
                margin-bottom: 20px;
            }
            .subtitle {
                font-weight: 300;
                line-height: 19px;
                text-transform: uppercase;
                color: #fff;
                @media (max-width: 400px) {
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        .bg-3 {
            background-image: url(../img/main/photo-3.jpg);
        }
    }
}
.categories {
    margin-bottom: 100px;
    @media (max-width: 400px) {
        margin-bottom: 60px;
    }
    .categories__container {
        padding-top: 100px;
        @media (max-width: 400px) {
            padding-top: 60px;
        }
        .title {
            margin-bottom: 50px;
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            @media (max-width: 400px) {
                margin-bottom: 30px;
            }
        }
        .photo__box {
            height: 450px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 900px) {
                flex-wrap: wrap;
                height: 1200px;
                gap: 15px;
            }
            @media (max-width: 800px) {
                gap: 25px;
            } 
            @media (max-width: 700px) {
                height: 3900px;
            }
            @media (max-width: 700px) {
                height: 1900px;
            }
            .box__item {
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 24%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                @media (max-width: 900px) {
                    width: 49%;
                }
                @media (max-width: 800px) {
                    width: 48%;
                }
                @media (max-width: 700px) {
                    width: 100%;
                }
                .name {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 23px;
                    color: #FFFFFF;
                    background: rgba(224, 190, 162, 0.75);
                    backdrop-filter: blur(6px);
                    width: 100%;
                    text-align: center;
                    padding: 9px 0;
                }
            }
            .item-1 {
                background-image: url(../img/categories/coat.jpg);
            }
            .item-2 {
                background-image: url(../img/categories/jackets.jpg);
            }
            .item-3 {
                background-image: url(../img/categories/fur-coats.jpg);
            }
            .item-4 {
                background-image: url(../img/categories/parks.jpg);
            }
        }
    }
}
.subscription {
    margin-bottom: 100px;
    .subscription__container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
        h3 {
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            color: #252525;
            text-align: center;
            margin-bottom: 50px;
        }
        form {
            display: flex;
            flex-direction: column;
            input {
                text-align: center;
                margin-bottom: 20px;
                border: 0.5px solid #252525;
                padding: 15px 0;
                font-weight: 200;
                line-height: 19px;
            }
            button {
                font-weight: 300;
                line-height: 19px;
                color: #fff;
                background: #E0BEA2;
                padding: 15px 0;
                margin-bottom: 20px;
            }
        }
        h4 {
            font-weight: 200;
            line-height: 19px;
            text-align: center;
        }
    }
}
footer {
    margin-bottom: 50px;
    .footer__container {
        display: flex;
        gap: 85px;
        @media (max-width: 900px) {
            gap: 35px;
        }
        @media (max-width: 800px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
        .item {
            display: flex;
            flex-direction: column;
            @media (max-width: 800px) {
                width: 30%;
                text-align: center;
            }
            @media (max-width: 600px) {
                width: 100%;
            }
            h4 {
                font-weight: 300;
                font-size: 20px;
                line-height: 23px;
                margin-bottom: 20px;
            }
            .link__box {
                display: flex;
                flex-direction: column;
                gap: 10px;
                .social {
                    display: flex;
                    gap: 12px;
                    @media (max-width: 600px) {
                        justify-content: center;
                    }
                }
                a {
                    font-weight: 200;
                    line-height: 19px;
                    color: #252525;
                }
            }
        }
    }
}
.basement {
    padding-bottom: 10px;
    h5 {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
}